[flake8]
max-line-length = 150
extend-ignore = E203, W503
exclude =
   .git,
   __pycache__,
   build,
   dist,
   *.pyc,
   *.egg-info,
   .eggs,
   alembic/versions/*.py
per-file-ignores =
   alembic/env.py: E402
   __init__.py: F401
   migrations/*.py: E501
